server:
  port: 8080

pod:
  number: ${POD_NUMBER:0}

spring:
  application:
    name: kafka-transactional

  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      transaction-id-prefix: tx-
      acks: all
      properties:
        enable.idempotence: true
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      auto-offset-reset: earliest
      isolation-level: read_committed
      enable-auto-commit: false
      properties:
        spring.json.trusted.packages: com.example.kafka.service

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method

logging:
  level:
    org.springframework.kafka: INFO
    org.apache.kafka: INFO
    # org.springframework.cloud.stream: DEBUG # Removed as it's not used
    com.example.kafka: DEBUG
